<div class="row">
  <div class="span12">
    Este programa cambia todo el tiempo, pero es básicamente lo que se tiene previsto.
  </div>
</div>
  
<div class="row">
  <div class="span6">
    <h2>Nivel básico</h2>
    <ul>
      <li>Hola mundo en C++</li>
      <li>Entrada y salida estándar</li>
      <li>Estructuras de datos básicas
        <ul>
          <li>Arreglos</li>
          <li>Stacks</li>
          <li>Colas</li>
          <li>Mapas</li>
          <li>Sets</li>
        </ul>
      </li>
      <li>Problemas básicos</li>
      <li>Manejo básico de strings</li>
      <li>Conversión entre bases numéricas</li>
      <li>Introducción a la combinatoria</li>
      <li>Introducción a la teoría de números</li>
      <li>Introducción al backtracking</li>
      <li>Grafos
        <ul>
          <li>Representación de grafos en el computador</li>
          <li>Algoritmos básicos de grafos (BFS, DFS)</li>
        </ul>
      <li>
      <li>Introducción a la programación dinámica</li>
      <li>Geometría básica</li>
    </ul>
  </div>
  <div class="span6">
    <h2>Nivel avanzado</h2>
    <ul>
      <li>Árboles cartesianos (también conocidos como 'la estructura más mágica del mundo')</li>
      <li>Introducción a la teoría de juegos</li>
      <li>Convex Hull</li>
      <li>Flujos</li>
      <li>Maximum Bipartite Matching</li>
      <li>Teorema de König y teorema de Dilworth</li>
      <li>Algoritmos avanzados de strings
        <ul>
          <li>KMP</li>
          <li>Aho-Corasick</li>
          <li>Suffix Array</li>
          <li>Hashing</li>
        </ul>
      <li>Teoría de números</li>
      <li>Programación dinámica</li>
    </ul>
 </div>
</div>

<div class="row">
  <div class="span6 offset3">
    Y otras cosas de las que no me acuerdo en este momento.
  </div>
</div>
